
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: rgb(46, 48, 53);
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    background-color: #171717;
}

.nav-link {
    font-size: 14px;
    font-weight: 400;
    color: #DDDDDD;
}

.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 2px solid #DDDDDD;
    width: 30%;
    padding-bottom: 5px;
    margin-bottom: -7px;

}

input.form-control-sm {
    height: 25px !important;
    border-radius: 7;
}

/* Owl */
.owl-carousel {
    background: transparent;
}

.owl-carousel img {
    width: 30%;
}

/* Jumbotron */
.jumbotron {
    background: rgb(60, 60, 60);
    border: 2px solid rgb(156, 155, 155);
}

.jumbotron .container {
    background-image: url('../img/cover.jpg');
    background-size: cover;
    height: 500px;
    position: relative;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #DDDDDD;
    padding-left: 20px;
    padding-right: 20px;
}

/* Update Anime */
.container .update-anime {
    margin-top: 0px;
}

.update-anime h4,
.populer-anime h4 {
    padding-top: 30px;
    color: #DDDDDD;
    padding-bottom: 10px;
    border-bottom: 2px solid #707070;
}
.ongoing-anime h4 {
    padding-top: 30px;
    color: #DDDDDD;
    padding-bottom: 10px;
    border-bottom: 2px solid #707070;
}
.update-anime img {
    width: 150px;
    height: 210px;
}

.anime-inner {
    position: relative;
    margin: auto;
}

.anime-inner img {
    box-shadow: -3px 3px 15px rgba(0, 0, 0, 1);
}

.text-episode {
    position: absolute;
    top: 0;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #DDDDDD;
    padding: 0 10px;
}

h6,
h5,
h2,
h3,
h1,
p,
h4 {
    color: #DDDDDD;
}
 .list-title{
    color: rgb(252, 205, 85);
    font-size: 25px;
    border-top:0;
    /* border-bottom: 2px solid #ffffff; */
}
.borderless td, .borderless th {
    border: none;
}
table a{
    color: #DDDDDD;
}


.judul-anime {
    position: absolute;
    bottom: 0;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #DDDDDD;
    width: 150px;
}

/* Pagination */
a.page-link {
    font-size: 14px;
    color: #DDDDDD;
    background-color: #171717;
    border: 2px solid #33312F;
}

/* Sosmed Icon */
.fa-instagram {
    color: #c32aa3;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-youtube {
    color: #ff0000;
}



/* Iklan */
.space-iklan {
    background-color: #33312F;
    height: 300px;
}

.space-iklan img {
    width: 300px;
    height: 250px;
}

.chat-room {
    background-color: #33312F;
    height: 480px;
}

.chat-room h6 {
    margin: 10px auto auto 15px;
}

.chat-room img {
    padding-top: 5px;
    width: 350px;
    height: 450px;
}

.figure img {
    margin-top: 10px;
    height: 260px;
    width: 200px;
    box-shadow: -3px 3px 15px rgba(0, 0, 0, 1);
}

.figure-caption h6 {
    padding-left: 25px;
}

.figure-caption p {
    padding-left: 25px;
    color: #707070;
    font-size: 12px;
}

.sec-footer {
    background: rgb(60, 60, 60);
    border-top: 2px solid #707070;
}

/* .footer-brand img {
    width: 500px ;
} */

.bot-nav {
    font-size: 14px;
    font-weight: 400;
    color: #DDDDDD;
}

.bot-nav .nav-link {
    padding-right: 14px;
}

.sec-footer p {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #faf6f6;
}

.bot-icon {
    margin-top: -50px;
    padding-right: 14px;
    
}

footer {
    background-color: #171717;
}

footer p {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
}

.carousel-heider{
    width: 100%;
    padding: 20px 10px 5px 5px;
    margin-right: auto;
    margin-left: auto;
}
.image-footer{
    width: 500px;
}

  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .carousel-heider{
        width: 100%;
        padding: 20px 10px 5px 5px;
        margin-right: auto;
        margin-left: auto;
    }
    .image-footer{
        width: 500px;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .carousel-heider{
        width: 100%;
        padding: 20px 10px 5px 5px;
        margin-right: auto;
        margin-left: auto;
    }
    .image-footer{
        width: 500px;
    }
    .nav-link {
        display: block;
        padding: 0.5rem 3rem;
    }
    .nav{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 119px;
        list-style: none;
    }
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  @media (min-width: 481px) and (max-width: 767px) {
    /* .nav-link {
        display: block;
        padding: 0.5rem 3rem;
    } */
    .bot-icon {
        margin-top: 0px;
        padding-right: 14px;
    }
    .link-footer{
        display: none !important;
    }
    .nav{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 119px;
        list-style: none;
    }
    .image-footer{
        width: 500px;
    }
  }
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (max-width: 600px) {
    /* .lorem-footer{
        display: none;
    } */
    .bot-icon {
        margin-top: 0px;
        padding-right: 14px;
    }
    .link-footer{
        display: none !important;
    }
    .image-footer{
        height: 119px;
    }
    
    .nav{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 119px;
        list-style: none;
    }
    .nav-link {
        display: block;
        padding: 0.5rem 3rem;
    }
  }